.main{
    font-family: sserif;
    background-color: #BED7DC;
    overflow-x: hidden
}

.menu{
    padding: 0 30px;
    display: flex;
    border: 1px solid #3D52A0;
    border-radius: 40px;
    font-family: sans-serif;
    height: 90px;
    align-items: center;
    margin: 20px 40px;
    position: relative;
    z-index: 3;
    background-color: #B3C8CF

}

.logo{
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
    color:white;
    margin: 0 25px; 
}

.btn{
    background-color:#4D869C;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin-right: 0px
}
   
.right{
    position: absolute;
    right: 80px;
}


#section1{
    display: flex;
}

.box{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: sans-serif;
}

.box2{
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: center; 
}

h4{
    font-size: 45px;
    color: white;
    text-align: center;
}

h1{
    font-size: 45px;
    color: white;
}

h2{
    font-size: 90px;
    margin-top: 40px;
    color: white;
}

p{
    font-size: 45px;
    margin:  0;
    color: white;
}

.ya{
    width: 500px;
}

nav ul a{
    text-decoration: none;
    margin: 0 30px; 
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
    border-radius: 10px;
    color: white;
}

  #section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #B3C8CF;
    position: relative;
    z-index: 3;
   
}

.Aboutme {
    text-align: center;
}

.aboutme {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
    margin-bottom: 1px;
}

.aboutmeme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.facts {
    max-width: 800px;
}

.promenya{
    font-size: 25px;
    margin-top: 60px;
    color: white;
}


h5{
    font-size: 40px;
    color: white;
    width: 50px;
    margin-top: 80px;
    margin-left: 50px;
}



.dflex{
    display: flex;
}

.ml50{
    margin-left: 100px;
    margin-top: 83px;
}

.ml51{
    margin-left: 100px;
    margin-top: 85px;
}

.ml52{
    margin-left: 100px;
    margin-top: 85px;
}

.w400{
    width: 200px;
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
}

.circle1{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #7AB2B2;
}


h6{
    font-size: 55px;
    color: white;
    width: 50px;
    margin: 100px 50px;
}



.photaa{
    width: 600px;
    display: flex;
    margin-top: 230px;
    margin-left: 100px;
}

.krug{
    width: 900px;
    height: 900px;
    position: absolute;
    top: 400px;
    right: 85px;
    background: rgba(48, 161, 171);
    background: linear-gradient(90deg, rgba(170, 200, 230) 0%, rgb(94, 182, 222) 47%, rgba(170, 200, 230) 100%);   
    z-index: 1;
    border-radius: 100%;
}    

img{
    z-index: 2;
    width: 700px;
}

#section3{
    min-height: calc(100vh - 150px - 50px);
    height: 100vh;
}
.tomiiws{
  text-align: center;

}
#section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #B3C8CF; 
}


.proekt {
    margin-top: 50px; 
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.toma {
    width: 50%;
}

.toma2 {
    width: 50%;
}

.project {
    display: block;
    margin: 0 auto;
    max-width: 100%; 
}

.proekt2 {
    margin-top: 50px; 
}


#section5 {
    text-align: center;
   
    padding: 50px 0; 
}

.center {
    margin-bottom: 30px; 
}

.gallery {
   
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px; 
}

}

.statya {
  margin: 10px;     display: flex;
    flex-direction: column;
    align-items: center;
}


#contact {
    padding: 50px;
    color:white;
    background-color: #B3C8CF;
    position: relative;
    z-index: 3;
    height: 100vh;
    align-items: center;
    text-align: center;
}
.card{
    width: 500px;
    background-color: #C5FF95;
    padding: 50px ;
    border-radius: 30px;
}
.w100{
    width: 100%;
}
.cardbtn{
    text-decoration: none;
    width: 500px;
    display: block;
    margin: 0 150px;
}
.dflex{
    display: flex;
}
.w80{
    width: 80%;
}
.chiutnizhe{
    margin-top: 450px;
}
